.header {
    background: $off_dark;
    color: white;
    margin-bottom: $xl-size;
    padding: $m-size 0;
}
//BEM Block element modifier
.header__title {
    font-size: $l-size;
    margin: 0;
}

.header__subtitle {
    color: $off_white;
    font-size: $m-size;
    margin: 0;
}